<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>list HERO</h1>

    <a href="{% url 'MyHeroes:index' %}">My Heros</a><br>
    <br/><a href="{% url 'MyHeroes:list_HERO11' %}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;11 Dr Nice</a><br/>
    <a href="{% url 'MyHeroes:list_HERO12' %}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;12 necromancer</a><br>
    <a href="{% url 'MyHeroes:list_HERO13' %}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;13 Bombasto</a><br>
    <a href="{% url 'MyHeroes:list_HERO14' %}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;14 Celeritas</a><br>
    <a href="{% url 'MyHeroes:list_HERO15' %}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;15 Magneta</a><br>
    <a href="{% url 'MyHeroes:list_HERO16' %}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;16 RubberMan</a><br>
    <a href="{% url 'MyHeroes:list_HERO17' %}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;17 Dynama</a><br>
    <a href="{% url 'MyHeroes:list_HERO18' %}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;18 Dr IQ</a><br>
    <a href="{% url 'MyHeroes:list_HERO19' %}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;19 Magma</a><br>
    <a href="{% url 'MyHeroes:list_HERO20' %}">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;20 Tornado</a><br>
    <br/><a href="{% url 'MyHeroes:Myherois' %}">My hero is Dr Nice</a><br/>

</body>
</html>